---
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
---

<article>
  <h1>{post.data.title}</h1>
  <p>{post.data.date}</p>
  <p>{post.data.author}</p>
  <a href=`blog/${post.slug}`>{post.slug}</a>
</article>
