---
import ProjectCard from '@/components/ProjectCard.astro'
import { projects } from 'src/lib/projects'

const featuredProjects = projects.filter((project) => project.isFeatured)
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
	{
		featuredProjects.map((project) => (
			<ProjectCard
				image={project.image}
				name={project.name}
				subDescription={project.subDescription}
				description={project.description}
				githubLink={project.githubLink}
				liveLink={project.liveLink}
				isFeatured={project.isFeatured}
				loading={project.loading}
				alias={project.alias}
				techUsed={project.techUsed}
			/>
		))
	}
</div>
