---
import { Image } from 'astro:assets'
import type { Project } from 'src/lib/types'

type Props = Project

const { name, image, loading, alias, subDescription } = Astro.props
---

<a transition:name={`${alias}`} href={`/projects/${alias}`} class="not-prose">
	<div class="card card-bordered card-compact">
		<figure class="aspect-video cursor-pointer bg-base-100 object-contain">
			<Image
				src={image}
				alt={name}
				width={1920}
				height={1080}
				quality={'low'}
				loading={loading || 'lazy'}
				class="aspect-video object-scale-down transition-transform duration-300 hover:scale-105"
			/>
		</figure>
		<div class="card-body">
			<h3 class="card-title">
				{name}
			</h3>
			<p>{subDescription}</p>
			<div class="card-actions mt-2 items-center justify-between">
				<button class="btn btn-xs">Learn More</button>
			</div>
		</div>
	</div>
</a>
