---
import { Image } from 'astro:assets'
import type { Project } from '../lib/types'
import GitHubStats from './GithubStats.astro'

type Props = Project

const { name, image, loading, alias, subDescription, showImage = true, githubLink } = Astro.props
---

<a href={`/projects/${alias}`} class="card block">
	{
		showImage && (
			<Image
				src={image}
				alt={name}
				width={1920}
				height={1080}
				quality={'low'}
				loading={loading || 'lazy'}
				class="mb-3 aspect-video object-cover"
			/>
		)
	}
	<div>
		<div class="flex items-center justify-between">
			<h3 class="text-foreground">{name}</h3>
			{githubLink && <GitHubStats githubLink={githubLink} />}
		</div>
		<p class="text-muted text-sm">{subDescription}</p>
	</div>
</a>
