---
import { Image } from 'astro:assets'

type Props = {
	name: string
	description: string
	image: any
	githubLink: string
	liveLink?: string
	loading?: 'lazy' | 'eager' | null | undefined
}

const { name, description, image, githubLink, liveLink, loading } = Astro.props
---

<div class="no-underline rounded-sm flex flex-col justify-center">
	<Image
		class="p-1 m-0 aspect-video object-contain rounded-lg"
		src={image}
		alt={description}
		width={400}
		height={400}
		quality={'low'}
		loading={loading || 'lazy'}
	/>
	<div class="flex flex-col p-2 h-full">
		<h3 class="m-0 text-base">{name}</h3>
		<p class="m-0 text-sm">{description}</p>
	</div>
	<div class="p-2 gap-2 flex flex-row">
		<a href={githubLink} target="_blank" rel="noopener noreferrer">Github</a>
		{
			liveLink && (
				<a href={liveLink} target="_blank" rel="noopener noreferrer">
					Live
				</a>
			)
		}
	</div>
</div>
