---
import { Image } from 'astro:assets'

type Props = {
	name: string
	description: string
	image: any
	githubLink: string
	liveLink?: string
	isNew?: boolean
	alias?: string
	loading?: 'lazy' | 'eager' | null | undefined
}

const { name, description, image, githubLink, liveLink, isNew, loading, alias } = Astro.props
---

<div class="not-prose card card-compact">
	<figure onclick=`${alias}.showModal()` class="aspect-video cursor-pointer">
		<Image
			class="object-cover"
			src={image}
			alt={name}
			width={1920}
			height={1080}
			quality={'low'}
			loading={loading || 'lazy'}
		/>
	</figure>
	<div class="card-body">
		<h3 class="card-title">{name}</h3>
		<p>{description}</p>
		<div class="card-actions items-center justify-between">
			<!-- <div>
				<a class="link" href={githubLink} target="_blank" rel="noopener noreferrer">Github</a>
				{
					liveLink && (
						<a class="link" href={liveLink} target="_blank" rel="noopener noreferrer">
							Live
						</a>
					)
				}
			</div> -->
			<button onclick=`${alias}.showModal()` class="btn btn-ghost btn-xs">Learn More</button>
			{isNew && <div class="badge badge-secondary badge-sm">NEW</div>}
		</div>
	</div>
</div>

<dialog id={alias} class="modal modal-bottom sm:modal-middle">
	<div class="modal-box max-w-5xl">
		<h3 class="mb-4 text-lg font-bold">{name}</h3>
		<Image
			class="w-full object-cover"
			src={image}
			alt={name}
			width={1920}
			height={1080}
			quality={'high'}
			loading={'lazy'}
		/>
		<p class="py-4">{description}</p>
		<div class="modal-action">
			<a href={githubLink} class="btn btn-primary" target="_blank" rel="noopener noreferrer">
				View on GitHub
			</a>
			{
				liveLink && (
					<a href={liveLink} class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
						Open Live Demo
					</a>
				)
			}
			<form method="dialog">
				<button class="btn">Close</button>
			</form>
		</div>
	</div>
	<form method="dialog" class="modal-backdrop">
		<button>Close</button>
	</form>
</dialog>
