---
import { Image } from 'astro:assets'

type Props = {
	name: string
	description: string
	image: any
	githubLink: string
	liveLink?: string
	loading?: 'lazy' | 'eager' | null | undefined
}

const { name, description, image, githubLink, liveLink, loading } = Astro.props
---

<div class="flex w-full flex-col justify-center rounded-sm">
	<Image
		class="m-0 aspect-video w-full rounded-lg object-contain p-1"
		src={image}
		alt={description}
		width={400}
		height={400}
		quality={'low'}
		loading={loading || 'lazy'}
	/>
	<div class="flex h-full flex-col p-2">
		<h3 class="m-0 text-base">{name}</h3>
		<p class="m-0 text-sm">{description}</p>
	</div>
	<div class="flex flex-row gap-2 p-2">
		<a href={githubLink} target="_blank" rel="noopener noreferrer">Github</a>
		{
			liveLink && (
				<a href={liveLink} target="_blank" rel="noopener noreferrer">
					Live
				</a>
			)
		}
	</div>
</div>
