---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import Badge from '../../components/Badge.astro'
import Layout from '../../layouts/Layout.astro'
import { projects } from '../../lib/projects'
import type { Project } from '../../lib/types'

export function getStaticPaths() {
	return projects.flatMap((project) => ({
		params: {
			project: project.alias
		}
	}))
}

const { project } = Astro.params

const {
	name,
	description,
	image,
	githubLink,
	liveLink,
	isFeatured,
	alias,
	techUsed,
	note
}: Project = projects.find((p) => p.alias === project)!
---

<Layout title={`${name} | Aman Varshney`}>
	<div transition:name={`${alias}`} class="space-y-6">
		<Image src={image as ImageMetadata} alt={name as string} class="aspect-video object-cover" />

		<div class="space-y-4">
			<div class="flex items-center justify-between">
				<h1 class="text-foreground">{name}</h1>
			</div>

			<p class="text-muted">{description}</p>

			{
				techUsed && techUsed.length > 0 && (
					<div class="space-y-2">
						<h3 class="text-sm font-medium">Technologies</h3>
						<div class="flex flex-wrap gap-2">
							{techUsed.map((tech) => (
								<Badge name={tech.name} icon={tech.icon} />
							))}
						</div>
					</div>
				)
			}

			<div class="flex flex-col gap-2 pt-2 sm:flex-row">
				{
					liveLink && (
						<a href={liveLink} class="btn" target="_blank">
							<Icon name="external" class="h-3.5 w-3.5" />
							View Live
						</a>
					)
				}
				<a href={githubLink} class="btn" target="_blank">
					<Icon name="github" class="h-3.5 w-3.5" />
					View on GitHub
				</a>
			</div>

			{
				note && (
					<div class="bg-soft mt-4 p-3 text-xs">
						<span class="font-medium">Note:</span> {note}
					</div>
				)
			}
		</div>
	</div>
</Layout>
