---
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import '@/styles/global.css'
import SearchDialog from '@/components/SearchDialog.astro'

type Props = {
	title: string
	description?: string
	author?: string
}

const { title, description = 'Portfolio of Aman Varshney', author = 'Aman Varshney' } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL('/og-image.webp', Astro.url)
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Aman Varshney"
			href={new URL('rss.xml', Astro.site)}
		/>
		<SEO
			title={title}
			description={description}
			canonical={canonicalURL.href}
			openGraph={{
				basic: {
					type: 'website',
					title: title,
					image: socialImageURL.href
				}
			}}
			twitter={{
				card: 'summary_large_image',
				image: socialImageURL.href,
				creator: '@amanvarshney01'
			}}
		/>
		<ViewTransitions fallback={'none'} />
	</head>
	<body
		class="prose mx-auto grid min-h-svh w-full max-w-3xl grid-rows-[auto_1fr_auto] py-5 underline-offset-4 antialiased max-lg:px-4"
	>
		<Header />
		<main class="min-w-0">
			<slot />
			<SearchDialog transition:persist />
		</main>
		<Footer />
		<script is:inline>
			;(function (C, A, L) {
				let p = function (a, ar) {
					a.q.push(ar)
				}
				let d = C.document
				C.Cal =
					C.Cal ||
					function () {
						let cal = C.Cal
						let ar = arguments
						if (!cal.loaded) {
							cal.ns = {}
							cal.q = cal.q || []
							d.head.appendChild(d.createElement('script')).src = A
							cal.loaded = true
						}
						if (ar[0] === L) {
							const api = function () {
								p(api, arguments)
							}
							const namespace = ar[1]
							api.q = api.q || []
							if (typeof namespace === 'string') {
								cal.ns[namespace] = cal.ns[namespace] || api
								p(cal.ns[namespace], ar)
								p(cal, ['initNamespace', namespace])
							} else p(cal, ar)
							return
						}
						p(cal, ar)
					}
			})(window, 'https://app.cal.com/embed/embed.js', 'init')
			Cal('init', '15min', { origin: 'https://cal.com' })

			Cal.ns['15min']('ui', {
				theme: 'auto',
				styles: { branding: { brandColor: '#000000' } },
				hideEventTypeDetails: false,
				layout: 'month_view'
			})

			document.addEventListener('astro:after-swap', initSearchModal)

			function initSearchModal() {
				const modal = document.getElementById('search-modal')
				const searchInput = document.querySelector('#search input')

				document.addEventListener('keydown', (event) => {
					if ((event.ctrlKey || event.metaKey) && event.key === 'k') {
						event.preventDefault()
						if (modal.open) {
							modal.close()
						} else {
							modal.showModal()
							searchInput?.focus()
						}
					}
				})

				modal.addEventListener('keydown', (event) => {
					if (event.key === 'Escape') {
						modal.close()
					}
				})

				modal.addEventListener('click', (event) => {
					if (event.target === modal) {
						modal.close()
					}
				})

				modal.addEventListener('click', (event) => {
					if (event.target.tagName === 'A') {
						modal.close()
					}
				})

				const modalContent = modal.querySelector('.modal-box')
				modalContent.addEventListener('click', (event) => {
					event.stopPropagation()
				})
			}

			function initThemeToggle() {
				const themeToggleButton = document.getElementById('theme-toggle')
				const theme = localStorage.getItem('theme') || 'lofi'

				document.documentElement.setAttribute('data-theme', theme)
				themeToggleButton.checked = theme === 'black'

				themeToggleButton.addEventListener('change', () => {
					const newTheme = themeToggleButton.checked ? 'black' : 'lofi'
					document.documentElement.setAttribute('data-theme', newTheme)
					localStorage.setItem('theme', newTheme)
				})
			}

			function init() {
				initSearchModal()
				initThemeToggle()
			}

			document.addEventListener('astro:after-swap', init)
			init()
		</script>
	</body>
</html>
