---
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'

type Props = {
	title: string
	description?: string
	author?: string
}

const { title, description = 'Portfolio of Aman Varshney', author = 'Aman Varshney' } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL('/og-image.webp', Astro.url)
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Aman Varshney"
			href={new URL('rss.xml', Astro.site)}
		/>
		<SEO
			title={title}
			description={description}
			canonical={canonicalURL.href}
			openGraph={{
				basic: {
					type: 'website',
					title: title,
					image: socialImageURL.href
				}
			}}
			twitter={{
				card: 'summary_large_image',
				image: socialImageURL.href,
				creator: '@amanvarshney01'
			}}
		/>
		<ViewTransitions fallback={'none'} />
	</head>
	<body
		class="prose mx-auto grid min-h-svh w-full max-w-3xl grid-rows-[auto_1fr_auto] py-5 underline-offset-4 antialiased max-lg:px-4"
	>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script is:inline>
			document.addEventListener('astro:after-swap', () => {
				const themeToggleButton = document.getElementById('theme-toggle')
				const savedTheme = localStorage.getItem('theme')

				if (savedTheme) {
					document.documentElement.setAttribute('data-theme', savedTheme)
					themeToggleButton.checked = savedTheme === 'black'
				}

				themeToggleButton?.addEventListener('change', () => {
					const newTheme = themeToggleButton.checked ? 'black' : 'lofi'
					document.documentElement.setAttribute('data-theme', newTheme)
					localStorage.setItem('theme', newTheme)
				})
			})
			const themeToggleButton = document.getElementById('theme-toggle')
			const savedTheme = localStorage.getItem('theme')

			if (savedTheme) {
				document.documentElement.setAttribute('data-theme', savedTheme)
				themeToggleButton.checked = savedTheme === 'black'
			}

			themeToggleButton?.addEventListener('change', () => {
				const newTheme = themeToggleButton.checked ? 'black' : 'lofi'
				document.documentElement.setAttribute('data-theme', newTheme)
				localStorage.setItem('theme', newTheme)
			})
		</script>
	</body>
</html>
