---
import '@fontsource/geist-sans'
import { ClientRouter } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'

type Props = {
	title: string
	description?: string
	author?: string
}

const { title, description = 'Portfolio of Aman Varshney', author = 'Aman Varshney' } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL('/og-image.webp', Astro.url)
---

<html lang="en">
	<head>
		<script is:inline>
			;(function () {
				const theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'black' : 'lofi'
				document.documentElement.setAttribute('data-theme', theme)
			})()
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Aman Varshney"
			href={new URL('rss.xml', Astro.site)}
		/>
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL.href} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:image" content={socialImageURL.href} />
		<meta property="twitter:title" content="Aman Varshney" />
		<meta
			property="twitter:description"
			content="Portfolio showing my projects, blogs and guestbook"
		/>
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:image" content={socialImageURL.href} />
		<meta property="twitter:creator" content="@amanvarshney01" />
		<meta property="og:site_name" content="Aman Varshney" />
		<meta property="og:description" content="Portfolio showing my projects, blogs and guestbook" />
		<meta property="og:url" content="https://www.amanvarshney.tech/" />
		<ClientRouter fallback={'none'} />
	</head>
	<body
		class="prose prose-base mx-auto grid min-h-svh w-full grid-rows-[auto_1fr_auto] px-2 underline-offset-4 antialiased prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-base md:max-w-3xl"
	>
		<Header />
		<main class="relative h-full min-w-0">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script is:inline>
	function updateTheme() {
		const theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'black' : 'lofi'
		document.documentElement.setAttribute('data-theme', theme)
	}

	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)

	document.addEventListener('astro:after-swap', updateTheme)
</script>
