---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";

type Props = {
  title: string;
  description?: string;
  author?: string;
};

const {
  title,
  description = "Portfolio of Aman Varshney",
  author = "Aman Varshney",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/og-image.png", Astro.url);
// console.log(socialImageURL);
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="description" content={description} /> -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={author} />
    <meta name="theme-color" content="#030303" />
    <!-- <title>{title}</title> -->
    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <link href="/prism-atom-dark.css" rel="stylesheet" />

    <SEO
      title={title}
      description={description}
      canonical={canonicalURL.href}
      openGraph={{
        basic: {
          type: "website",
          title: title,
          image: socialImageURL.href,
        },
      }}
      twitter={{
        card: "summary_large_image",
        image: socialImageURL.href,
        creator: "@amanvarshney01",
      }}
    />

    <ViewTransitions />
  </head>
  <body
    class="antialiased selection:bg-[#91f2da] dark:selection:text-black
    text-neutral-800
     dark:text-neutral-400 prose-headings:text-neutral-950 dark:prose-headings:text-neutral-100
    prose-strong:text-neutral-950 dark:prose-strong:text-neutral-100 bg-neutral-100
    dark:bg-[#030303] min-h-screen w-full mx-auto max-w-2xl max-sm:px-5"
  >
    <Header />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
    <style is:global>
      @font-face {
        font-family: "Geist";
        src: url("/Geist-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      :root {
        color-scheme: dark;
      }
      html {
        font-family: "Geist", Arial, Helvetica, sans-serif;
      }
    </style>
  </body>
</html>
