---
import { SEO } from 'astro-seo'
import { ClientRouter } from 'astro:transitions'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import '@/styles/global.css'
import Search from 'astro-pagefind/components/Search'

type Props = {
	title: string
	description?: string
	author?: string
}

const { title, description = 'Portfolio of Aman Varshney', author = 'Aman Varshney' } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL('/og-image.webp', Astro.url)
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Aman Varshney"
			href={new URL('rss.xml', Astro.site)}
		/>
		<SEO
			title={title}
			description={description}
			canonical={canonicalURL.href}
			openGraph={{
				basic: {
					type: 'website',
					title: title,
					image: socialImageURL.href
				}
			}}
			twitter={{
				card: 'summary_large_image',
				image: socialImageURL.href,
				creator: '@amanvarshney01'
			}}
		/>
		<script is:inline>
			;(function () {
				const theme = localStorage.getItem('theme') || 'lofi'
				document.documentElement.setAttribute('data-theme', theme)
			})()
		</script>
		<ClientRouter fallback={'none'} />
	</head>
	<body
		class="prose mx-auto grid min-h-svh w-full max-w-3xl grid-rows-[auto_1fr_auto] py-5 underline-offset-4 antialiased max-lg:px-4"
	>
		<Header />
		<main class="min-w-0">
			<slot />
		</main>
		<Footer />

		<dialog id="search-modal" class="modal">
			<div class="modal-box !max-w-4xl rounded-lg border border-base-300">
				<Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
			</div>
			<form id="search-modal" method="dialog" class="modal-backdrop">
				<button>Close</button>
			</form>
		</dialog>

		<script lang="javascript">
			function initSearchModal() {
				const modal = document.getElementById('search-modal')
				const searchInput = document.querySelector('#search input')

				document.addEventListener('keydown', (event) => {
					if ((event.ctrlKey || event.metaKey) && event.key === 'k') {
						event.preventDefault()
						if (modal.open) {
							modal.close()
						} else {
							modal.showModal()
							searchInput?.focus()
						}
					}
				})

				modal.addEventListener('keydown', (event) => {
					if (event.key === 'Escape') {
						modal.close()
					}
				})

				modal.addEventListener('click', (event) => {
					if (event.target === modal) {
						modal.close()
					}
				})

				modal.addEventListener('click', (event) => {
					if (event.target.tagName === 'A') {
						modal.close()
					}
				})

				const modalContent = modal.querySelector('.modal-box')
				modalContent.addEventListener('click', (event) => {
					event.stopPropagation()
				})
			}

			function initThemeToggle() {
				const themeToggleButton = document.getElementById('theme-toggle')
				const theme = localStorage.getItem('theme') || 'lofi'

				document.documentElement.setAttribute('data-theme', theme)
				themeToggleButton.checked = theme === 'black'

				themeToggleButton.addEventListener('change', () => {
					const newTheme = themeToggleButton.checked ? 'black' : 'lofi'
					document.documentElement.setAttribute('data-theme', newTheme)
					localStorage.setItem('theme', newTheme)
				})
			}

			function init() {
				initThemeToggle()
				initSearchModal()
			}
			document.addEventListener('astro:page-load', init)
		</script>
	</body>
</html>
